footer {
    display: flex;
    justify-content: center;
    border-top: $border;
    margin-top: 4rem;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #fff;
=======
>>>>>>> a7dccb4... Fix home page && archive page layout
=======
    background-color: #fff;
>>>>>>> a0b1d6f... A new style
}
