header {
    padding: 20rem/$size 0;
    border-bottom: 1px solid #f9f9f9;

  .container {
    max-width: 1010px;
  }

  a {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    opacity: 1;
    color: #222;;
  }

}

.brand {
  float: left;
  cursor: pointer;
  height: 24px;

  &:hover {
    opacity: .8;
  }

}

nav {
  float: right;

  a {
    margin-right: 30rem/$size;
  }

}
