<<<<<<< HEAD
<<<<<<< HEAD
$size: 16;
$green: #42b983;
$border: 1px solid #efefef;
$black: #444;
=======
$size: 18;
$green: #42b983;
>>>>>>> c6be0ce... Handle gulp error
=======
$size: 16;
$green: #42b983;
$border: 1px solid #efefef;
$black: #444;
>>>>>>> a7dccb4... Fix home page && archive page layout
