extends partial/layout
block container
    include mixins/post
<<<<<<< HEAD
<<<<<<< HEAD
    +home()
=======
    +posts()
>>>>>>> c6be0ce... Handle gulp error
=======
    +home()
>>>>>>> a7dccb4... Fix home page && archive page layout

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
