doctype
html(lang=config.language prefix='og: http://ogp.me/ns#')
    head
        include head
<<<<<<< HEAD
<<<<<<< HEAD
    body.pupa
        include header
        main
=======
    body
=======
    body.pupa
>>>>>>> a0b1d6f... A new style
        include header
<<<<<<< HEAD
        section.container
>>>>>>> c6be0ce... Handle gulp error
            block container
            block pagination
=======
        main
<<<<<<< HEAD
            .container
                block container
                block pagination
>>>>>>> a7dccb4... Fix home page && archive page layout
=======
            block container
            block pagination
>>>>>>> a0b1d6f... A new style
        footer
            block copyright
        include scripts
