doctype
html(lang=config.language prefix='og: http://ogp.me/ns#')
    head
        include head
<<<<<<< HEAD
    body.pupa
        include header
        main
=======
    body
        include header
        section.container
>>>>>>> c6be0ce... Handle gulp error
            block container
            block pagination
        footer
            block copyright
        include scripts
