doctype
html(lang=config.language prefix='og: http://ogp.me/ns#')
    head
        include head
    body
        include header
        main
            .container
                block container
                block pagination
        footer
            block copyright
        include scripts
